In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [12]:
df = pd.read_csv('../Datasets/boston_housing.csv')

# Steps

- use isnull()
- use head()
- use tail()
- use info()
- use describe()

# Data Normalization and Formatting
 - Improved Model Performance
 - Avoidance of Biased Results
 - Faster Convergence
 - Interpretable Coefficients
 - Compatibility with Certain Algorithms

In [13]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [15]:
# Min max
min_max_scaler = MinMaxScaler()
df['age'] = min_max_scaler.fit_transform(df[['age']])

In [16]:
# Min-max normalization for column 'A' without using Sklearn
min_val = df['A'].min()
max_val = df['A'].max()
df['A_min_max'] = (df['A'] - min_val) / (max_val - min_val)

KeyError: 'A'

In [8]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,0.641607,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,0.782698,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,0.599382,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,0.441813,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,0.528321,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
# Scale just one column using z-score normalization
z_score_scaler = StandardScaler()
df['rm'] = z_score_scaler.fit_transform(df[['rm']])

In [ ]:
# Z-score normalization for column 'A'
mean_val = df['A'].mean()
std_val = df['A'].std()
df['A_z_score'] = (df['A'] - mean_val) / std_val

In [10]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,0.413672,0.641607,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,0.194274,0.782698,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,1.282714,0.599382,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,1.016303,0.441813,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,1.228577,0.528321,6.0622,3,222,18.7,396.90,5.33,36.2